/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;




.checkout-customer-detail::before{
    content: "1";
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #999;
    justify-content: center;
    float: left;
    margin: 4px;
    font-size: 10px;
    color: #eee;
    font-weight: 500;
}

.checkout-shipping-address::before{
  content: "2";
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #999;
  justify-content: center;
  float: left;
  margin: 4px;
  font-size: 10px;
  color: #eee;
  font-weight: 500;
}

.checkout-payment-detail::before{
  content: "3";
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #999;
  justify-content: center;
  float: left;
  margin: 4px;
  font-size: 10px;
  color: #eee;
  font-weight: 500;
}

.checkout-customer-detail,
.checkout-payment-detail,
.checkout-shipping-address{
  @apply w-full flex justify-center
}
